/* VueFlow стили */
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/minimap/dist/style.css';


/* Базовая палитра */
body {
  color: #111;
  padding: 5px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
}

/* Корневой элемент приложения */
#app {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* Заполнение экрана */
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}